<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div id ="app">
        <input type="text" v-model="num1">
    +

    <input type="text" v-model="num2">

    =

 <span>{{add2}}</span>
    
    </div>
    <script>
        var app = new Vue({
           el : '#app',
            data: {
            num1: 0,
            num2: 0,
            result: 0
        },
        methods: {
            add: function() {
                this.result=parseInt(this.num1)+parseInt(this.num2);
            }
        },
        computed: {
            add2: function(){
                return parseInt(this.num1)+parseInt(this.num2);
         
            }
        },
    });  
    </script>
    
</body>
</html>