<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id ="app">
        {{ message}}
    </div>
    <script>
         new Vue({
           el : '#app',
            data: {
            message: 'Hello Vue'
        }
    });  
    </script>

    <div id = "app2">
    <a v-bind:href="glink">{{ m2 }}</a>    
    </div>

    <script>
        new Vue({
            el : '#app2',
            data: {
                m2: 'Yes',
                glink:'google.com'
            }
        });
    </script>
</body>
</html>