<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div id="app">
    <input type="text" placeholder="Your name" v-model="person.name"> <br>
    <input type="text" placeholder="Your lastname" v-model="person.lastname"> <br>
    <input type="number" placeholder="Your age" v-model="person.age"> <br>
  
    <input type="radio" id="male" value="male" v-model="person.gender">
    <label form="male">Male</label>
    <br>
    <input type="radio" id="female" value="female" v-model="person.gender">
    <label form="female">Female</label>
    <br>

    <input type="checkbox" id="dog" v-model="person.pets" value="dog" >
    <label for="dog">Dog</label>
    <input type="checkbox" id="cat" v-model="person.pets"  value="cat" >
    <label for="cat">Cat</label>
    <input type="checkbox" id="bird" v-model="person.pets"  value="bird" >
    <label for="bird">Bird</label>
    <br>

    <select name="" id="" v-model="person.role">
        <option value="" disabled>Select role</option>
        <option value="admin" >Admin</option>
        <option value="user" >User</option>
   
    </select>
    <br>

    <span> {{person}} </span>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            person: {
                name: '',
                lastname: '',
                age: '',
                gender: '',
                pets: [],
                role: '',
            }
        },
    });
</script>
   
   
    
</body>
</html>