<template>
    <div>
        <h1>
            {{ name2 }}
        </h1>
    </div>
</template>

<script>
export default {
    name: 'MyName',

    props: {
        name2: String
    }
}
</script>

<style  scoped>

</style>